@keyframes simple-grow {
    from {
        opacity: 0;
        margin-left: 30%;
    }

    to {
        opacity: 1;
        margin-left: 0%;
    }
}

@keyframes grow {
    0% {
        display: none;
        opacity: 0;
        margin-left: 40%;
    }

    50% {
        display: none;
        opacity: 0;
        margin-left: 30%;
    }

    100% {
        display: block;
        opacity: 1;
        margin-left: 0%;
    }
}

@keyframes opacity-in {
    0% {
        background: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    50% {
        background: -webkit-linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    100% {
        background: -webkit-linear-gradient(#fff, #fff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }
}

@keyframes textShine {
    0% {
        background: linear-gradient(to right,
        #0c98f5 30%,
        #00affa00 40%,
        #0190cd00 60%,
        #0c98f5 70%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 500% auto;
        background-position: 100% 50%;
    }

    35% {
        background: linear-gradient(to right,
                #ffffff 20%,
                #00affa00 30%,
                #0190cd00 70%,
                #ffffff 80%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 500% auto;
        background-position: 0% 50%;

    }

    65% {
        background: linear-gradient(to right,
                #ffffff 20%,
                #00affa00 30%,
                #0190cd00 70%,
                #ffffff 80%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 500% auto;
        background-position: 0% 50%;
    }

    100% {
        background: linear-gradient(to right,
                #0c98f5 30%,
                #00affa00 40%,
                #0190cd00 60%,
                #0c98f5 70%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 500% auto;
        background-position: 100% 50%;
    }
}

@keyframes flip {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}