:root {
  --hero-image: url(../img/hero.jpg);
  --header-color: #24252a;
  --marketing-black-background: radial-gradient(#000, #222111);
  --marketing-white-background: #fff;
  --footer-color: #24252a;
}
* {
  font-family: "regular";
}

body,
html {
  margin: 0;
}

header {
  background-color: var(--header-color);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  filter: opacity(0.7);
  position: fixed;
  top: 0;
  width: 100vw;
  box-sizing: border-box;
  z-index: 1;
}
main {
  display: flex;
}
aside {
  width: 30vw;
  background-color: #292a2d;
  color: white;
}
ul {
  padding-left: 30px;
}
ul:hover{
    color: #3fa4fc;
    cursor: pointer;
}

#app-title,
#about,
#products {
  color: #fff;
}
#app-title {
  font-family: "regular";
  margin: 0px;
}
#app-title a {
  text-decoration: none;
  color: white;
}
#app-title a:hover {
  color: gray;
}

#about,
#products {
  font-family: "thin";
  font-size: 24px;
  text-decoration: none;
}

#about:hover,
#products:hover {
  color: #ccc;
}

#about {
  margin: 0 20px 0 auto;
}
#products {
  margin: 0 20px 0 0;
}

#hero {
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    var(--hero-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  align-items: center;
  justify-content: center;
  transition: all 5s;
  position: relative;
  max-width: 100%;
}

#hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: #fff;
  transition: all 1s;
}

#hero-text h1 {
  font-family: "regular";
  animation: simple-grow 1s;
  font-size: 62px;
  animation-timing-function: ease-out;
}
#hero-text p {
  font-size: 48px;
  animation: grow 3s;
  font-family: "italic";
}

#hero-text:hover {
  font-size: 90px;
}
.marketing-black,
.marketing-white {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.marketing-black {
  background: var(--marketing-black-background);
}
.marketing-white {
  background-color: var(--marketing-white-background);
}

.white-title,
.white-description {
  animation: textShine 30s ease-in-out infinite alternate;
  animation-timing-function: ease-in-out;
}
.white-title,
.black-title {
  font-family: "regular";
  font-size: 54px;
}
.white-description,
.black-description {
  font-family: "thin";
  font-size: 32px;
}
.product {
  animation: flip 8s ease-in-out infinite;
  width: 30%;
}

.know-more {
  margin: 48px 0;
  background-color: #038aff;
  border: none;
  width: 200px;
  padding: 10px 0;
  color: #fff;
  font-family: "regular";
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.white-text,
.black-text {
  font-size: 24px;
  margin: 0px 60px;
  font-family: "regular";
}
.white-text {
  color: white;
}
.black-text {
  color: #000;
}
footer {
  background-color: var(--footer-color);
  padding: 10px 20px;
}
footer p {
  color: #aaa;
  font-family: "thin";
  font-size: 14px;
  text-align: center;
}
