:root {
  --hero-sobre-image: url(../img/hero-sobre.jpg);
  --sobre-white-image: url(../img/background-sobre-white.jpg);
  --header-color: #24252a;
  --marketing-black-background: radial-gradient(#000, #222111);
  --marketing-white-background: #fff;
  --footer-color: #24252a;
}
#hero {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    var(--hero-sobre-image);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  transition: all 5s;
  position: relative;
}
#hero-text {
  text-align: left;
  width: 90%;
}
#hero-text h1 {
  font-size: 90px;
}
.sobre-white {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    var(--sobre-white-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh;
  display: block;
  max-width: 100%;
  text-align: right;
  padding-top: 4%;
  padding-left: 40%;
}
.sobre-black {
  display: block;
  text-align: left;
  padding-top: 8%;
}
.white-title {
  margin: 4%;
  animation: none;
  color: white;
}
.black-title {
  margin: 0% 4%;
}
#sobre-white-image {
  max-width: 50%;
}
#image-fone-black {
  margin: 50px 50px 50px 0px;
  height: 600px;
  border-radius: 5%;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.8);
}
